@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*white-space: nowrap;*/

}

body {
    background-color: beige;
}

/*menu*/
li, .menubtn, .log, .band,p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    white-space: nowrap;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #24252A;
}
p{
    margin-top: 30px;
    font-size: 13px;
}

.band {

    font-size: 25px;
    padding: 10px 5%;
}
.position{
    margin-right: auto;
    display: flex;

}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.log {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/*title*/
.title {
    margin-top: 10px;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 5px 5%;
}
/*table*/
table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 3px groove #009999;
    color: #009999;
    font-size: 20px;
    text-align: center;
    background-color: white;

}

th, #amount {
    background-color: #009999;
    color: white;
    white-space: nowrap;
    border: 2px groove #009999;
}

td {
    border: 1px groove skyblue;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



/*button*/
.btn {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.btn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.btn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn:focus {
    outline: 1px transparent;
}

.btn:before {
    display: none;
}


#order{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 95%;
    background-color: white;
    border: 2px solid black;
}
#table2{
    margin-top: 20px;
    margin-bottom: 30px;
}

.orderInfo{
    padding: 5px 5%;
    font-size: 20px;
}

#title2{
    background-color: #959DA5;
    font-size: 30px;
    padding: 5px 2%;
}

.deliveryInfo{
    width: 90%;
}




.btn2 {
    text-align: center;
    width: 200px;
    padding: 6px 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 10px;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
                                                 }

.btn2:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn2:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.btn2:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn2:focus {
    outline: 1px transparent;
}

.btn2:before {
    display: none;
}

.btn2-webkit-details-marker {
    display: none;
}